<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping package="trsit.cpay.service.persistence.model"/>
    
    <mapping class="trsit.cpay.service.persistence.model.User"/>
    <mapping class="trsit.cpay.service.persistence.model.UserAuthority"/>
    <mapping class="trsit.cpay.service.persistence.model.Payment"/>
    <mapping class="trsit.cpay.service.persistence.model.PaymentEvent"/>
  </session-factory>
</hibernate-configuration>
