.title {
    padding:5px;
    border-bottom:2px solid gray;
    font-weight:bold;
    background:lightgray;
}

.toolbar {
    padding:5px;
    background:lightgray;
}
.toolbar a:link {
    text-decoration: none;
}

.content {
    padding-top:10px;
}

.table {
    width:100%;
}
.table th {
    border: 1px solid #CCC;
    background-color: #CCCCCC;
    font-weight: bold;
    color: #1C94C4;
}
.even {
    background-color: #EEEEEE;
}
.odd {
    background-color: #FFFFFF;
}

.table td {
    border: 1px solid #DDD;
}

.table tr:hover {
    color: #C77405;
}

.options-list {
    width:100%;
    border:1px solid black;
}
.addControl, .deleteControl {
    text-decoration: none;
}
.userSelector {
    width:200px;
}
.properties {
    margin-bottom:5px;
    margin-top:5px;
    /*border:1px solid black;*/
}
label {
    padding-right:5px;
}
.actions a {
    padding-right:5px;
    padding-left:5px;
}
.title-cell {
    width: 100%;
}
.events {
    white-space: nowrap;
}

//-------------- events view

//--------------


div.tabpanel div.tab-row{
    float:left;
    width:100%;
    line-height:normal;

}

div.tabpanel div.tab-row ul {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
}
  
div.tabpanel div.tab-row li {
    float:left;
    margin:0;
    padding:0 0 0 9px;
    border:2px solid gray;
    background-color:lightgray;
    border-radius:5px 5px 0 0;
}
  
div.tabpanel div.tab-row a {
    display:block;
    padding:5px 15px 4px 6px;
    text-decoration:none;
    font-weight:bold;
    white-space:nowrap;
    color:#eee;
}
  
div.tab-panel {
    clear: left;
    border:1px solid gray;
    border-radius:5px;
    padding:5px;
}
  
div.tabpanel div.tab-row a:hover {
  color:#fff;
}
  
div.tabpanel div.tab-row li.selected {

}
  
div.tabpanel div.tab-row li.selected a {
    color:#333;
    padding-bottom:5px;
}

div.wicket-aa {
    background-color:white;
    border:1px solid #CCCCCC;
    color:black;
}
div.wicket-aa ul {
   list-style-image:none;
   list-style-position:outside;
   list-style-type:none;
   margin:0pt;
   padding:5px;
}
div.wicket-aa ul li.selected {
    background-color:#CCCCCC;
}



.error {
    border:1px solid red;
}