.title {
    padding:5px;
    border-bottom:2px solid gray;
    font-weight:bold;
    background:lightgray;
}

.toolbar {
    padding:5px;
    background:lightgray;
}
.toolbar a:link {
    text-decoration: none;
}

.content {
    padding-top:10px;
}

.table {
    width:100%;
}
.options-list {
    width:100%;
    border:1px solid black;
}
.addControl, .deleteControl {
    text-decoration: none;
}
.userSelector {
    width:200px;
}
.properties {
    margin-bottom:5px;
    margin-top:5px;
    /*border:1px solid black;*/
}
label {
    padding-right:5px;
}
.actions a {
    padding-right:5px;
    padding-left:5px;
}
.title-cell {
    width: 100%;
}
.events {
    white-space: nowrap;
}

//-------------- events view

//--------------


div.tabpanel div.tab-row{
  float:left;
  width:100%;
  background:#DAE0D2 url("tabs/bg.gif") repeat-x bottom;
  line-height:normal;
  }

div.tabpanel div.tab-row ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
  
div.tabpanel div.tab-row li {
  float:left;
  background:url("tabs/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
  
div.tabpanel div.tab-row a {
  display:block;
  background:url("tabs/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
  color:#eee;
  }
  
div.tab-panel {
    clear: left;
}
  
div.tabpanel div.tab-row a:hover {
  color:#fff;
  }
  
div.tabpanel div.tab-row li.selected {
  background-image:url("tabs/left_on.gif");
  }
  
div.tabpanel div.tab-row li.selected a {
  background-image:url("tabs/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }